@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  background: linear-gradient(#eee, #ddd);
  border: 1px solid #ccc;
  cursor: pointer;
  color: #101010;
}

.header {
  padding: 16px;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  padding: 8px;
  max-width: 500px;
  grid-template: repeat(2, auto) 1fr / repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 8px;
}

.counter {
  padding: 16px;
  border-radius: 8px;
}

.gold-counter {
  background: linear-gradient(#d89b00, #ffb800);
}

.vp-counter {
  background: linear-gradient(#1e009f, #0022d2);
  color: #fff;
}

.value {
  font-size: 32px;
  font-weight: 600;
}

.button-container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.button-container button {
  font-size: 16px;
}

.reset-section {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  gap: 4px;
}

.reset-button, .reset-confirm-text {
  flex: 1;
}

.reset-confirm-button {
  padding: 8px 24px;
}

.reference-section {
  grid-column: 1 / span 2;
}

.tabs-items {
  display: flex;
  margin-left: 8px;
}

.tabs-item {
  white-space: nowrap;
  padding: 8px 12px;
  border: 1px solid transparent;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: 600;
  border-radius: 4px 4px 0 0;
}

.tabs-item.active {
  border-color: #999; 
  border-bottom-color: #fff; 
}

.tabs-contents {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 16px;
  position: relative;
  top: -1px;
  z-index: 0;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  vertical-align: top;
}

thead th {
  background: linear-gradient(#e0e0e0, #e9e9e9);
  vertical-align: middle;
}

thead th:first-child {
  border-radius: 4px 0 0 4px;
}

thead th:last-child {
  border-radius: 0 4px 4px 0;
}

.suit-symbol {
  font-size: 24px;
  text-align: center;
}

.base-cost {
  white-space: nowrap; 
}

.engine-cards-helper {
  margin: 0 0 16px;
  padding-left: 16px; 
  font-size: 13px;
  color: #333;
}

.engine-cards-helper li:not(:last-child) {
  margin-bottom: 8px;
}

.instant-cards-helper {
  margin-bottom: 16px;
  font-size: 13px;
  color: #333;
}

.scoring-table {
  width: 100%;
}

.scoring-table td {
  vertical-align: middle;
}

.card-score-input {
  width: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

.rules-link {
  grid-column: 1 / span 2;
}

.tips {
  padding-left: 16px;
  margin: 0;
}

.tips li:not(:last-child) {
  margin-bottom: 8px;
}
