body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

button {
  padding: 8px 12px;
  font-size: 16px;
}

.header {
  padding: 16px;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  padding: 8px;
  max-width: 500px;
  grid-template: repeat(2, auto) 1fr / repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 8px;
}

.counter {
  padding: 16px;
}

.gold-counter {
  background-color: gold;
}

.vp-counter {
  background-color: lightgrey;
}

.value {
  font-size: 36px;
}

.button-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.button-container button {
  font-size: 20px;
}

.reset-section {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  gap: 4px;
}

.reset-button, .reset-confirm-text {
  flex: 1;
}

.reset-confirm-button {
  padding: 8px 24px;
}

.reference-section {
  grid-column: 1 / span 2;
}

.tabs-items {
  display: flex;
}

.tabs-item {
  white-space: nowrap;
  padding: 8px 12px;
  border: 1px solid transparent;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
}

.tabs-item.active {
  border-color: #999; 
  border-bottom-color: #fff; 
}

.tabs-contents {
  border: 1px solid #999;
  padding: 16px;
  position: relative;
  top: -1px;
  z-index: 0;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  vertical-align: top;
}

thead th {
  background-color: #ddd;
  vertical-align: middle;
}

.suit-symbol {
  font-size: 24px;
  text-align: center;
}

.base-cost {
  white-space: nowrap; 
}

.engine-cards-helper {
  margin: 0 0 16px;
  padding-left: 16px; 
  font-size: 14px;
  color: #333;
}

.engine-cards-helper li:not(:last-child) {
  margin-bottom: 8px;
}

.instant-cards-helper {
  margin-bottom: 16px;
  font-size: 14px;
  color: #333;
}

.scoring-table {
  width: 100%;
}

.scoring-table td {
  vertical-align: middle;
}

.card-score-input {
  width: 30px;
  font-size: 16px;
}

.rules-link {
  grid-column: 1 / span 2;
}
